<ol class="breadcrumb">
  <li><%= link_to @story.title, story_path(@story) %></li>
  <li class="active">
  	 <%= select("story-page", "page_number", @story.story_pages.collect {|p| [ p.page_number, p.page_number ] }, {selected: params[:page_number]}) %>
  </li>
   <li class="active">
   	<%= link_to "Go", smart_story_composer_path(@story.id, @page.page_number), :class => "btn btn-primary btn-xs", :id => "page-nav" %>
   </li>
</ol> 


<script type="text/javascript">
var smart_story_composer_path = <%= smart_story_composer_path(@story.id, @page.page_number).to_json.html_safe %>;
$(function(){
	$("#page-nav").click(function(e){
		var smart_path = smart_story_composer_path.split('/');
		var selected_page = $('#story-page_page_number').val();
		smart_path[smart_path.length - 1] = selected_page;
		smart_path = smart_path.join('/');
		console.log(smart_path);
		$(this).attr('href', smart_path);
		
	});
});
</script>