
<div id="main" class="col-xs-8 no-padding">
	<!-- <h1>Composer#index</h1>
	<p>The final composer app will live here!</p>
	<div id="track" class="col-xs-12 no-padding"> 
		<p>Track is here.</p>
	</div> -->
	<%= image_tag "/big-bad-wolf-huffpuff-disney.jpg", :width => "100%" %>
</div>
<div id="sidebar" class="col-xs-4 no-padding">
	<%= render :partial => "composer/library_selector" %>
	<%= render :partial => "composer/wave_view" %>
</div>
