<h1>Listing mappers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mappers.each do |mapper| %>
      <tr>
        <td><%= link_to 'Show', mapper %></td>
        <td><%= link_to 'Edit', edit_mapper_path(mapper) %></td>
        <td><%= link_to 'Destroy', mapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mapper', new_mapper_path %>
