

<div class="container">
	<h2> Smart Storybook </h2>
	
	<div class="col-xs-4">
		<%= image_tag "/lamp.png", :width => "80%"%>
	</div>
	<div class="col-xs-8">

		<h3> Project Summary</h3>
		<p class='lead'> 
			An augmented environment coordinator for storytelling. Smart Storybook polls devices in a room for storytelling capabilities (e.g. light, sound, smell) and contributes a content creation tool that synthesizes output into a unique storytelling experience.
		</p>
		<h3> Contributors </h3>
		<p class="lead"> 
			Aparna Dhinakaran, Romi Phadte, Michael Ho, Cesar Torres
			<aparnadhinak,romiphadte,michaelho2016, cearto@berkeley.edu>
		</p>

		<p>
			<%= link_to smart_story_composer_path(1, 1), :class=> "btn btn-primary btn-lg" do %>
				<span class="glyphicon glyphicon-edit"></span> Composer
			<% end %>
			<%= link_to "GitHub", "https://github.com/UCB-IoET/smart-storybook", :class=> "btn btn-default btn-lg" %>
			<%= link_to "IoET Class Page", "http://inst.eecs.berkeley.edu/~cs194-5/", :class=> "btn btn-default btn-lg" %>
				
	</div>
	



</div>

