<div class="modal fade" id="instruct-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Instructions</h4>
			</div>
			<div class="modal-body">
				<h4>Sequences</h4>
				<p>The sequence page allows you compose a string of light behaviors to create longer-lasting animations. You can use these sequences to animate to LEDs and Flixels. Click on a behavior in the list to preview it. Enter light behaviors onto the track and arrange them as desired.</p>
				<h4>Basic Functions</h4>
				<ul>
					<li><strong>Double-click: </strong>Double-click a behavior to animate it.</li>
					<li><strong>Shift-click: </strong>Shift-click behaviors to highlight them for deletion</li>
					<li><strong>Enter: </strong>Adds the previewed light behavior to the track.</li>
					<li><strong>Play: </strong>Sequentially animates your sequence</li>
					<li><strong>Clear: </strong>Empties the track of all light behaviors.</li>
					<li><strong>Export: </strong>Save your creation to the library, or download it.</li>
				</ul>
				<h4>Synthesis</h4>
				<p>Use the synthesize page to mix existing light behaviors and form new ones. These new behaviors can be used in sequences. The page contains two slots for ingredient behaviors, which you can then mix using synthesizing functions.</p>
				<h4>Synthesizing Functions</h4>
				<ul>
					<li><strong>Add: </strong>Adds the previewed light behavior to the track.</li>
					<li><strong>Subtract: </strong>Sequentially animates your sequence</li>
					<li><strong>Multiply: </strong>Empties the track of all light behaviors.</li>
					<li><strong>Divide: </strong>Save your creation to the library, or download it.</li>
				</ul>
				<h4>Shortcuts</h4>
				<ul>
					<li><strong>Enter (Key) - </strong>Enter</li>
					<li><strong>p - </strong>Play</li>
					<li><strong>c - </strong>Clear</li>
					<li><strong>a - </strong>Add</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>